@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 88%;
    --foreground: 222 84% 5%;
    --card: 0 0% 95%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 95%;
    --popover-foreground: 222 84% 5%;
    --primary: 181 100% 74%;
    --primary-foreground: 224 71% 10%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 224 71% 10%;
    --muted: 0 0% 93%;
    --muted-foreground: 224 71% 25%;
    --accent: 115 100% 72%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 80%;
    --input: 0 0% 85%;
    --ring: 181 100% 74%;
    --chart-1: 181 100% 74%;
    --chart-2: 115 100% 72%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 0 0% 98%;
    --card: 222 84% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 181 100% 74%;
    --primary-foreground: 224 71% 10%;
    --secondary: 222 84% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 84% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 115 100% 72%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 84% 10%;
    --input: 222 84% 10%;
    --ring: 181 100% 74%;
    --chart-1: 181 100% 74%;
    --chart-2: 115 100% 72%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
